<div class="card-header">
    <h2>{{ result.name }}</h2>
</div>
<div class="card-block">
    <div class="col-sm-12">
        <p class="card-text">
            {{ result.description }}
        </p>
        <p class="card-text">
        <ul>
            {% for item in ingredients_list %}
            <li>
                <span class="quantity">{{ item.quantity }}</span>
                grammes de
                <span class="ingredient" id="{{ item.ingredient.id }}">{{ item.ingredient.name }}</span>
            </li>
            {% endfor %}
        </ul>
        </p>
    </div>
    <div class="float-right">
        <button class="btn btn-primary" id="add_to_basket">
            Ajouter les ingrédients
        </button>
    </div>
</div>